extends sidebarbase

block headstyle
    style.
        .item-wrapper {
            float:left;
            width: 100%;
        }

        .item {
            width:200px;
            margin:4px;
            display: inline-block;
        }

block maincontent
    +heading("Component", model.value.info.name, null, documentation)

    if Object.keys(packages).length > 0
        div(class="row")
            hr
            div(class="col-xs-12 col-sm-4 col-md-4")
                h2 Packages
            div(class="col-xs-6 col-md-4")
                each item in Object.keys(packages)
                    div(class='item')
                        - var re = /\./g
                        - var p = packages[item].key.replace(re, '/')
                        - var ns = packages[item].key.replace(namespace + '.', '')
                        a(href=`${p}/index.html`) #{packages[item].key}

    if Object.keys(services).length > 0
        div(class="row")
            hr
            div(class="col-xs-12 col-sm-4 col-md-4")
                h3 Services
            div(class="col-xs-6 col-md-4")
                each item in Object.keys(services)
                    div(class='item')
                        - var re = /\./g
                        - var p = correctUrl(services[item].key).replace(re, '/')
                        - var svc = services[item].key.replace(namespace + '.', '')
                        a(href=`${p}/index.html`) #{services[item].key}

    if structures.length > 0
        div(class="row")
            hr
            div(class="col-xs-12 col-sm-4 col-md-4")
                h3 Structures
            div(class="col-xs-6 col-md-4")
                div(class='item-wrapper')
                    each structure in structures
                        - var id = structure.value.name.split('.')
                        - id = id[id.length - 1]
                        div(class='item')
                            a(href=`/${root}/structures/${structure.value.name}.html`) #{structure.value.name}

    if enums.length > 0
        div(class="row")
            hr
            div(class="col-xs-12 col-sm-4 col-md-4")
                h3 Enumerations
            div(class="col-xs-6 col-md-4")
                +enumerations(enums)

    div(style='clear: both')

block sidebar
    p(class="eyebrow") See Also
    h5 Components
    ul
        each c in components
            if c !== component.value.info.name
                li
                    a(href=`/${root}/${c}.html`) #{c}

    +sidebarversions(versions)
