doctype html
html
    head
        meta(charset='utf-8')
        block title
        block headstyle

        link(rel="stylesheet" href="/css/prism.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")            
        script(src="/js/prism.js")

        script. 
            var version_regexs = [
                '(?:v\\d)',
                '(?:v\\d\\.\\d[\\w\\d\\.]*)',
                '(?:main)',
                '(?:dev)',
                '(?:release/v\\d.\\d[\\x\\d\\.]*)'];

            var domain = '10.159.195.238';
            var suffix = '.238';

            //var domain = 'vapi.localhost';
            //var suffix = '.localhost';

            // Returns the path segment of the version as a string, like '3.6/'
            // or '' if not found.
            function version_segment_in_url(url) {
                var version_segment = '(?:(?:' + version_regexs.join('|') + ')/)';
                var version_regexp = '\\' + suffix + '/' + '?(' + version_segment + ')';
                var match = url.match(version_regexp);
                if (match !== null)
                    return match[1];
                return ''
            }

            function navigate_to_first_existing(urls) {
                // Navigate to the first existing URL in urls.
                var url = urls.shift();
                if (urls.length == 0) {
                    window.location.href = url;
                    return false;
                }
                $.ajax({
                url: url,
                success: function() {
                    window.location.href = url;
                },
                error: function() {
                    navigate_to_first_existing(urls);
                }
                });
            }

            function on_version_switch(selected_version) {
                console.log("version switch:", selected_version);
                var url = window.location.href;
                var current_version = version_segment_in_url(url);
                var new_url = url.replace(suffix + '/' + current_version,
                                        suffix + '/' + selected_version + '/');
                console.log(new_url, url);
                if (new_url != url) {
                navigate_to_first_existing([
                    new_url,
                    url.replace(suffix + '/' + current_version,
                                suffix + '/' + selected_version),
                    'http://' + domain + '/' + selected_version,
                    'http://' + domain + '/' + selected_version,
                    'http://' + domain + '/'
                ]);
                }
            }
        

        style.
            body {
                padding-top: 50px;
            }
            .jumbotron .h1, .jumbotron h1 {
                font-size: 48px;
            }
            .starter-template {
                padding: 40px 15px;
                text-align: center;
            }
            .namespace {
                font-size: 12px;
                font-weight: bold;
                color: #959595;
                text-transform: uppercase;
                letter-spacing: 1px;
                content: "Example";
            }
            .topic-abstract {
                font-size: 20px;
                font-weight: 300;
            }
            .eyebrow {
                padding-top: 10px;
                color: #666;
                font-size: 20px;
                font-weight: 400;
            }
            .code-listing {
                padding: 10px;
                background-color: #f9fafa;
                border: 1px solid #e6e6e6;
                border-radius: 4px;
                overflow: auto;
                speak: literal-punctuation;
            }
            #exTab1 .tab-content {
                padding : 5px 15px;
            }

            #exTab2 h3 {
                padding : 5px 15px;
            }

            /* remove border radius for the tab */

            #exTab1 .nav-pills > li > a {
                border-radius: 0;
            }

            /* change border radius for the tab , apply corners on top*/

            #exTab3 .nav-pills > li > a {
                border-radius: 4px 4px 0 0 ;
            }

            #exTab3 .tab-content {
                padding : 5px 15px;
            }
    body
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href=`/${root}/`) 
                        block projectname
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav navbar-right version-select")
                        li
                            a(href=`/${root}/apiindex.html`) Index
                        li(class="dropdown")
                            a( href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") vSphere Version 
                                span(class="caret")
                            ul(class="dropdown-menu")
                                each version in vsphereVersions
                                    li
                                        a(class="version-select-item" href=`${version}`) #{version}

                script.
                    $(".version-select-item").click(function(ev) {
                        ev.preventDefault();
                        on_version_switch(this.text);
                    });

                //    form(id="signin" class="navbar-form navbar-right" role="form")
                //        div(class="input-group")
                //            span(class="input-group-addon")
                //                i(class="glyphicon glyphicon-user")
                //            input(id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address")

                //        div(class="input-group")
                //            span(class="input-group-addon")
                //                i(class="glyphicon glyphicon-lock")
                //            input(id="password" type="password" class="form-control" name="password" value="" placeholder="Password")
                //        button(type="submit" class="btn btn-primary") Login

        block masthead

        div(class="container")
            block content

            hr

            - var dt = new Date();
            - var utcDate = dt.toUTCString();

            footer
                p 
                    | &copy; 2017-2018 VMware, Inc. &nbsp;&nbsp;&nbsp; 
                    //| Generated: #{utcDate}

        block lastjavascript

    