extends core

mixin operationHeader(name, operation)
    h4
        - var n = name
        a(href=`${n}/index.html`) #{name}
    dl
        dt Description
            - var docs = operation.value.documentation
            dd !{docs}

    p(class="eyebrow") #{type}

mixin heading(type, name, namespace, documentation)
    h2(id='operation') #{name}
    p(class="namespace") #{namespace}
    - var docs = documentation
    p(class="topic-abstract") !{docs} 

mixin operationParameters(parameters)
    if parameters
        h3 Parameters
        dl
            each param in parameters
                dt
                    code
                        span #{param.name}
                dd
                    div
                        div
                            - var docs = param.documentation
                            p !{docs}

mixin descriptionList(list, name)
    if list
        h3 #{name}
        dl
            each item in list
                dt
                    code
                        span #{item.name}
                dd
                    div
                        div
                            - var docs = item.documentation
                            p !{docs}

mixin enumerations(enumerations)
    ul
    each e in enumerations 
            each i in e
                li 
                    a(href=`enumerations/${i.key}.html`) #{i.key}

mixin sidebaritems(name, items, currentitem, rootbase)
    if items && Object.keys(items).length > 1
        h5 #{name}
        ul
            each item in items
                if item.key !== currentitem.key
                    - var re = /\./g
                    - var path = item.key.replace(re, '/')
                    li
                        if rootbase
                            a(href=`/${path}`) #{item.key}
                        else
                            a(href=`../${path}`) #{item.key}

block projectname
    | VAPI

