extends core

mixin operationHeader(name, operation)
    h4
        - var n = name
        a(href=`${n}/index.html`)
            | #{name}
    dl
        dt
            - var re = /#([a-z]*) ([a-z]*)/g;
            - var docs = operation.value.documentation.replace(/{@[a-z]* ([\.,#,A-Za-z]*)}/g, '$1').replace(re, `<a href="${name}/$1">$1</a>`);
            dd !{docs}

    p(class="eyebrow") #{type}

mixin heading(type, name, namespace, documentation)
    p(class="eyebrow") #{type}
    h2(id='operation') #{name}
    p(class="namespace") #{namespace}
    - var re = /#([a-z]*) ([a-z]*)/g;
    - var docs = documentation.replace(/{@[a-z]* ([\.,#,A-Za-z]*)}/g, '$1').replace(re, `<a href="${name}/$1">$1</a>`);

    p(class="topic-abstract") !{docs} 

mixin operationParameters(parameters)
    if parameters
        h3 Parameters
        dl
            each param in parameters
                dt
                    code
                        span #{param.name}
                dd
                    div
                        div
                            - var docs = param.documentation
                            p !{docs}

mixin descriptionList(list, name, regex)
    if list && list.length > 0
        h3 #{name}
        dl
            each item in list
                dt
                    code
                        span(id=`${item.name}`) #{item.name}
                dd
                    div
                        div
                            - var docs = item.documentation.replace(regex, '$1')
                            p !{docs}

mixin enumerations(enumerations)
    each e in enumerations 
        div(class='item')
            a(href=`/enumerations/${e.value.name}.html`) #{e.value.name}

mixin sidebaritems(name, items, currentitem, rootbase)
    if items && Object.keys(items).length > 1
        h5 #{name}
        ul
            each item in items
                if item.key !== currentitem.key
                    - var re = /\./g
                    - var path = item.key.replace(re, '/')
                    li
                        if rootbase
                            a(href=`/${path}`) #{item.key}
                        else
                            a(href=`../${path}`) #{item.key}

mixin sidebaritemsarray(name, items, currentitem, rootbase)
    if items.length > 1
        h5 #{name}
        ul(class="list")
            each item in items
                if item !== currentitem
                    - var re = /\./g
                    - var path = item.key.replace(re, '/')
                    li
                        if rootbase
                            a(href=`/${path}`) #{item.key}
                        else
                            a(href=`../${path}`) #{item.key}

mixin sidebarversions(versions)
    if version
        h5 Supported Versions 
            ul(class="list")
                if version.type == "STRING"
                    li #{version.string_value}
                else                    
                    each version in versions.list_value
                        li #{version}

block projectname
    | vSphere REST API
