extends swaggerbase

block title
    title #{info.key}

block content
    h2 #{info.key}
    div(class="namespace") #{namespace}
    p !{info.value.documentation} 

    if Object.keys(info.value.params).length > 0
        div(class='item-wrapper')
            div(class='item')
                +operationParameters(info.value.params)

    if Object.keys(info.value.output).length > 0
        h3 Output
        p #{info.value.output.documentation}
        - var x = JSON.stringify(info.value.output)
        h4 Type
            p #{info.value.output.type}
        p #{x}

    if Object.keys(info.value.output).length > 0
        h3 Errors
            - var x = JSON.stringify(info.value.errors)
        table(class="table table-striped")
            tr
                th Type
                th Description
            each error in info.value.errors
                tr
                    - var f = `/~strefethen/vapi/structures/${error.structure_id}.html`
                    - var id = error.structure_id.split('.')
                    - id = id[id.length - 1]
                    td 
                        a(href=`${f}`) #{id}
                    td !{error.documentation}

    a(href='../index.html') Back
