extends swaggerbase

block title
    title #{info.key}

block content
    h2 #{info.key}
    p #{info.value.documentation} 

    div(class='item-wrapper')
        div(class='item')
            +operationParameters(info.value.params)

        h3 Output
        p TODO
        - var x = JSON.stringify(info.value.output)
        // #{x}

        h3 Errors
            - var x = JSON.stringify(info.value.errors)
        table(class="table table-striped")
            tr
                th Type
                th Description
            each error in info.value.errors
                tr
                    - var f = `/structures/${error.structure_id}.html`
                    - var id = error.structure_id.split('.')
                    - id = id[id.length - 1]
                    td 
                        a(href=`${f}`) #{id}
                    td #{error.documentation}

    a(href='../index.html') Back
