extends sidebarbase

block title
    title #{operation.key} - #{namespace}

block maincontent
    p(class="eyebrow") Operation
    h2 #{operation.key}
    p(class="namespace") #{namespace}
    p(class="topic-abstract") !{documentation} 

    hr

    H3 Request
    - var s = JSON.stringify(method)
    figure(class="code-listing") 
        strong #{method.method}
        |  #{method.path}

    if Object.keys(params).length > 0
        div(class='item-wrapper')
            div(class='item')
                +operationParameters(params)

    if Object.keys(output).length > 0
        h3 Output
        p !{output.documentation}
        - var x = JSON.stringify(output)
        - var t = JSON.stringify(output.type)
        h4 Type
        p #{t}
        p #{x}

    if Object.keys(errors).length > 0
        h3 Errors
            - var x = JSON.stringify(errors)
        table(class="table table-striped")
            tr
                th Type
                th Description
            each error in errors
                tr
                    - var f = `/structures/${error.structure_id}.html`
                    - var id = error.structure_id.split('.')
                    - id = id[id.length - 1]
                    td 
                        a(href=`${f}`) #{id}
                    td !{error.documentation}

    a(href='../index.html') Back
