extends metadatabase

block headstyle
    style.
        .item-wrapper {
            float:left;
            width: 100%;
        }

        .item {
            width:200px;
            margin:4px;
            display: inline-block;
        }

block masthead
    <!-- Main jumbotron for a primary marketing message or call to action -->
    div(class="jumbotron")
        div(class="container")
            h1 #{model.value.info.name}
            - var docs = model.value.documentation
            p !{docs}
    div(style='clear: both')                

block content
    if Object.keys(packages).length > 0
        h1 Packages
        hr
        ul
            each item in Object.keys(packages)
                li
                    - var re = /\./g
                    - var p = packages[item].key.replace(re, '/')
                    - var ns = packages[item].key.replace(namespace + '.', '')
                    a(href=`${p}/index.html`) #{packages[item].key}
    p &nbsp;

    if Object.keys(services).length > 0
        h1 Services
        hr
        ul
            each item in Object.keys(services)
                li
                    - var re = /\./g
                    - var p = services[item].key.replace(re, '/')
                    - var svc = services[item].key.replace(namespace + '.', '')
                    a(href=`${p}/index.html`) #{services[item].key}

    h2 Structures
    hr
    each item in Object.keys(objects)
        if Object.keys(objects[item].value.structures).length > 0
            h4 #{objects[item].value.name}
            hr
            div(class='item-wrapper')
                each structure in Object.keys(objects[item].value.structures)
                    - var id = objects[item].value.structures[structure].value.name.split('.')
                    - id = id[id.length - 1]
                    div(class='item')
                        a(href=`/${root}/structures/${objects[item].value.structures[structure].value.name}.html`) #{id}
            p &nbsp;

    h2 Enumerations
    hr
    +enumerations(enums)

    div(style='clear: both')