extends codetemplatebase

block title
    title #{name} - #{namespace}

block maincontent
    +heading("Service", name, namespace, documentation, internal)

    //-
        div(id="exTab1" class="container")
            ul(class="nav nav-pills")
                li(class="active")
                    a(href="#1a" data-toggle="tab") Python
                li
                    a(href="#2a" data-toggle="tab") Java
                li
                    a(href="#3a" data-toggle="tab") C#
                li
                    a(href="#4a" data-toggle="tab") Ruby
                li
                    a(href="#4a" data-toggle="tab") JavaScript

            div(class="tab-content clearfix col-md-9")
                div(class="tab-pane active" id="1a")
                    pre
                        code(class="language-python")
                    - var re = /\./g
                    - var path = namespace.replace(re, '/')
                    script.
                        $('.language-python').load(`https://raw.githubusercontent.com/strefethen/samples/master/#{path}/#{name}.py`, function() {
                            Prism.highlightAll();
                        });
                    //a(href=`https://raw.githubusercontent.com/strefethen/samples/master/${path}/${name}.py`) View Source
                div(class="tab-pane" id="2a")
                    div(data-ghuserrepo="strefethen/samples" data-ghpath="/vsphere/vcenter/vm/power.py" data-ghlines="89-92")
                    a(href="https://github.com/vmware/vsphere-automation-sdk-python/blob/master/samples/vsphere/vcenter/vm/power.py#L89") View Source
                div(class="tab-pane" id="3a")
                    script(src="https://gist.github.com/strefethen/730ac442e147a3ecd1e9.js")
                div(class="tab-pane" id="4a")
    //

    if pluralwarning
        div(class="alert alert-warning" role="alert") #{pluralwarning.warning} Reference: 
            a(href=`${url_structure}` title="REST Specification - URL Structure") URL Structure

    if Object.keys(operations).length > 0
        h3 Operations
        if listwarning
            div(class="alert alert-warning" role="alert") #{listwarning.warning}
        each operation in Object.keys(operations)
            +operationHeader(operations[operation].value.name, operations[operation], internal)

    if service.value.services && Object.keys(service.value.services).length > 0
        h3 Services
        each service in Object.keys(services.value.services)
            +operationHeader(service, services.value.services[service])

    if service.value.structures && service.value.structures.length > 0
        h2 Structures
        hr
        div(class='item-wrapper')
            each structure in service.value.structures
                - var id = structure.value.name.split('.')
                - id = id[id.length - 1]
                div(class='item')
                    a(href=`/${root}/structures/${structure.value.name}.html`) #{id}

    if service.value.constants && service.value.constants.length > 0
        //- console.log(JSON.stringify(service.value.constants))
        h3 Constants
        //- var docs = constants.value.documentation
        //p !{docs}
        table(class="table table-striped")
            tr
                th Category
                th Value
                th Documenation
            each constant in constants
                tr
                    td 
                        #{constant.value.type.category}
                    td
                        #{constant.key}
                    td
                        #{constant.value.documentation}

    - var ex = examples
    p !{ex}

    p &nbsp;

    a(href='../index.html') Back

block sidebar
    p
    p(class="eyebrow") See Also
    +sidebaritems("Related Services", services, service, true)

    +sidebarversions(versions)