extends sidebarbase

block title
    title #{name}

block headstyle
    style.
        .item-wrapper {
            float:left;
            width: 100%;
        }

        .item {
            width:200px;
            margin:4px;
            display: inline-block;
        }

block maincontent
    p(class="eyebrow") Service
    h1 #{name}
    div(class="namespace") #{namespace}
    p !{documentation}

    if Object.keys(service.value.operations).length > 0
        h3 Operations
        each operation in Object.keys(service.value.operations)
            +operationHeader(service.value.operations[operation].value.name, service.value.operations[operation])

    if service.value.services && Object.keys(service.value.services).length > 0
        h3 Services
        each service in Object.keys(services.value.services)
            +operationHeader(service, services.value.services[service])

    if structures && structures.length > 0
        h2 Structures
        hr
        div(class='item-wrapper')
            each structure in structures
                - var id = structure.value.name.split('.')
                - id = id[id.length - 1]
                div(class='item')
                    a(href='/~strefethen/vapi/structures/' + structure.value.name + '.html') #{id}

    if constants && constants != []
        h3 Constants
        p !{constants.value.documentation}
        table(class="table table-striped")
            tr
                th Type
                th Value
            each constant in constants
                tr
                    td 
                        #{constants[constant].value.type.buildin_type}
                    td
                        #{constants[constant].value.value.primitive_value.string_value}

    p &nbsp;

    a(href='../index.html') Back
