extends core

mixin operationHeader(name, operation)
    h4
        - var n = name
        a(href=`${n}/index.html`) #{name}
    dl
        dt Description
            dd !{operation.value.documentation}

mixin heading(type, name, namespace, documentation)
    p(class="eyebrow") #{type}
    h2 #{name}
    p(class="namespace") #{namespace}
    p(class="topic-abstract") !{documentation} 

mixin operationParameters(parameters)
    if parameters
        h3 Parameters
        dl
            each param in parameters
                dt
                    code
                        span #{param.name}
                dd
                    div
                        div
                            p !{param.documentation}

mixin descriptionList(list, name)
    if list
        h3 #{name}
        dl
            each item in list
                dt
                    code
                        span #{item.name}
                dd
                    div
                        div
                            p !{item.documentation}

mixin enumerations(enumerations)
    ul
    each e in enumerations 
            each i in e
                li 
                    a(href=`enumerations/${i.key}.html`) #{i.key}

mixin sidebaritems(name, items, currentitem)
    if items && Object.keys(items).length > 1
        h5 #{name}
        ul
            each item in items
                if item.key !== currentitem.key
                    - var re = /\./g
                    - var path = item.key.replace(re, '/')
                    li
                        a(href=`../${path}`) #{item.key}

block projectname
    | VAPI

