extends core

mixin operationHeader(name, operation)
    h4
        - var n = name
        a(href=`${n}/index.html`) #{name}
    dl
        dt Description
            dd !{operation.value.documentation}

mixin operationParameters(parameters)
    if parameters
        h3 Parameters
        dl
            each param in parameters
                dt
                    code
                        span #{param.name}
                dd
                    div
                        div
                            p !{param.documentation}

mixin enumerations(enumerations)
    - var e = JSON.stringify(enumerations);
    #{e}

block projectname
    | VAPI
